{include file="public/header" /}
<div class="main-content">
	<div class="main-content-inner">
		<div class="breadcrumbs ace-save-state" id="breadcrumbs">
			<ul class="breadcrumb">
				<li>
					<i class="ace-icon fa fa-home home-icon"></i>
					<a href="#">主页</a>
				</li>

				<li>
					<a href="#">产品管理</a>
				</li>
				<li class="active">产品列表</li>
			</ul><!-- /.breadcrumb -->

			<div class="nav-search" id="nav-search">
				<form class="form-search">
		<span class="input-icon">
			<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
			<i class="ace-icon fa fa-search nav-search-icon"></i>
		</span>
				</form>
			</div><!-- /.nav-search -->
		</div>

		<div class="page-content">
			<div class="ace-settings-container" id="ace-settings-container">
				<div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
					<i class="ace-icon fa fa-cog bigger-130"></i>
				</div>

				<div class="ace-settings-box clearfix" id="ace-settings-box">
					<div class="pull-left width-50">
						<div class="ace-settings-item">
							<div class="pull-left">
								<select id="skin-colorpicker" class="hide">
									<option data-skin="no-skin" value="#438EB9">#438EB9</option>
									<option data-skin="skin-1" value="#222A2D">#222A2D</option>
									<option data-skin="skin-2" value="#C6487E">#C6487E</option>
									<option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
								</select>
							</div>
							<span>&nbsp; Choose Skin</span>
						</div>

						<div class="ace-settings-item">
							<input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-navbar" autocomplete="off" />
							<label class="lbl" for="ace-settings-navbar"> Fixed Navbar</label>
						</div>

						<div class="ace-settings-item">
							<input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-sidebar" autocomplete="off" />
							<label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
						</div>

						<div class="ace-settings-item">
							<input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-breadcrumbs" autocomplete="off" />
							<label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>
						</div>

						<div class="ace-settings-item">
							<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" autocomplete="off" />
							<label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>
						</div>

						<div class="ace-settings-item">
							<input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-add-container" autocomplete="off" />
							<label class="lbl" for="ace-settings-add-container">
								Inside
								<b>.container</b>
							</label>
						</div>
					</div><!-- /.pull-left -->

					<div class="pull-left width-50">
						<div class="ace-settings-item">
							<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-hover" autocomplete="off" />
							<label class="lbl" for="ace-settings-hover"> Submenu on Hover</label>
						</div>

						<div class="ace-settings-item">
							<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-compact" autocomplete="off" />
							<label class="lbl" for="ace-settings-compact"> Compact Sidebar</label>
						</div>

						<div class="ace-settings-item">
							<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-highlight" autocomplete="off" />
							<label class="lbl" for="ace-settings-highlight"> Alt. Active Item</label>
						</div>
					</div><!-- /.pull-left -->
				</div><!-- /.ace-settings-box -->
			</div><!-- /.ace-settings-container -->

			<div class="page-header">
				<h1>
					产品管理
					<small>
						<i class="ace-icon fa fa-angle-double-right"></i>
						产品列表
					</small>
				</h1>
			</div><!-- /.page-header -->

			<div class="row">
				<div class="col-xs-12">
					<!-- PAGE CONTENT BEGINS -->
					<div class="row">
						<div class="col-xs-12">
							<form action="{:url('menage/product')}" method="post">
							<table id="simple-table" class="table  table-bordered table-hover" style="text-align: center">
								<thead>
								<tr style="text-align: center">
									<td>多选</td>
									<td></td>
									<td>产品分类
										<select style="" id="sel" name="id">
											<option>请选择产品类别</option>
											{volist name="productcategory" id="vo2"}
											<option value="{$vo2.id}" id="att">{$vo2.name}</option>
											{/volist}
										</select>

									</td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<th class="center">
										<label class="pos-rel">
											<input type="checkbox" class="ace" />
											<span class="lbl"></span>
										</label>
									</th>
									<th style="text-align: center">ID</th>
									<th class="detail-col">分类名称</th>
									<th>产品名称</th>
									<th>缩略图</th>
									<th>操作</th>
								</tr>
								</thead>

								<tbody id="tbody">
								{volist name="product" id="vo"}
								<tr>
									<td class="center">
										<label class="pos-rel">
											<input type="checkbox" class="ace" />
											<span class="lbl"></span>
										</label>
									</td>

									<td class="center">
										<div class="action-buttons" id="catename">
												产品类别名称
										</div>
									</td>
									<td>id</td>
									<td>
										<input name="producttitle" id="producttitle" value="{$vo.producttitle}">
									</td>
									<td>
										<a href="#"><img src="{$vo.productpicture}" width="100" height="50"></a>
									</td>

									<td>
										<div class="hidden-sm hidden-xs btn-group">

											<a href="{:url('Ad/edit',['id'=>$vo.id])}" target="content">
												<button class="btn btn-xs btn-info">
													<i class="ace-icon fa fa-pencil bigger-120"></i>
												</button>
											</a>
											<a href="{:url('Ad/delete',['id'=>$vo.id])}" target="content">
												<button class="btn btn-xs btn-danger">
													<i class="ace-icon fa fa-trash-o bigger-120"></i>
												</button>
											</a>
											<a href="{:url('system/authlist')}" target="content">
												<button class="btn btn-xs btn-warning">
													<i class="ace-icon fa fa-flag bigger-120"></i>
												</button>
											</a>
										</div>

										<div class="hidden-md hidden-lg">
											<div class="inline pos-rel">
												<button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
													<i class="ace-icon fa fa-cog icon-only bigger-110"></i>
												</button>

												<ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
													<li>
														<a href="#" class="tooltip-info" data-rel="tooltip" title="View">
													<span class="blue">
														<i class="ace-icon fa fa-search-plus bigger-120"></i>
													</span>
														</a>
													</li>

													<li>
														<a href="#" class="tooltip-success" data-rel="tooltip" title="Edit">
													<span class="green">
														<i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
													</span>
														</a>
													</li>

													<li>
														<a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">
													<span class="red">
														<i class="ace-icon fa fa-trash-o bigger-120"></i>
													</span>
														</a>
													</li>
												</ul>
											</div>
										</div>
									</td>
								</tr>
								{/volist}

								</tbody>
							</table>
							</form>
						</div><!-- /.span -->
					</div><!-- /.row -->
					<div class="hr hr-18 dotted hr-double"></div>
					<!-- PAGE CONTENT ENDS -->
				</div><!-- /.col -->
			</div><!-- /.row -->
		</div><!-- /.page-content -->
	</div>
</div><!-- /.main-content -->
<script src="/static/admin/assets/js/jquery-1.8.0.js"></script>
<script>

    // function getcategoryid() {
    //     var cateid=document.getElementById("cateid");
    //     var title=document.getElementById("title");
    //     var keycode=document.getElementById("keycode");
    //     var describ=document.getElementById("describ");
    // 	console.log(cateid.value);
    // }
    $(function () {
        $('#sel').change(function () {
            $("#tbody").html('');
            var cateid=$('#sel').val();
            // var cateid=document.getElementById("cateid");
            var producttitle=document.getElementById("producttitle");
            var keycode=document.getElementById("keycode");
            var describ=document.getElementById("describ");

            // console.log(cateid);

            $.ajax({
                type:'post',
                url:"{:url('admin/menage/productjson')}",
                data:'sel='+cateid,
                success:function (res) {
					var tbody=document.getElementById("tbody");

					console.log(tbody);
					for (i=0;i<res.length;i++){
                        // console.log(res[i].producttitle);
                        // console.log($('#sel option')[document.getElementById('sel').selectedIndex].innerText);

						var tr=tbody.insertRow(0);

						var tr0= tr.insertCell(0);
                        var tr1= tr.insertCell(1);
                        var tr2= tr.insertCell(2);
                        var tr3= tr.insertCell(3);
                        var tr4= tr.insertCell(4);
                        var tr5= tr.insertCell(5);

                        tr5.innerHTML='<td>\n' +
                            '\t\t\t\t\t\t\t\t\t\t<div class="hidden-sm hidden-xs btn-group">\n' +
                            '\n' +
                            '\t\t\t\t\t\t\t\t\t\t\t<a href="{:url(\'Ad/edit\',[\'id\'=>$vo.id])}" target="content">\n' +
                            '\t\t\t\t\t\t\t\t\t\t\t\t<button class="btn btn-xs btn-info">\n' +
                            '\t\t\t\t\t\t\t\t\t\t\t\t\t<i class="ace-icon fa fa-pencil bigger-120"></i>\n' +
                            '\t\t\t\t\t\t\t\t\t\t\t\t</button>\n' +
                            '\t\t\t\t\t\t\t\t\t\t\t</a>\n' +
                            '\t\t\t\t\t\t\t\t\t\t\t<a href="{:url(\'Menage/productdelete\',[\'id\'=>res[i].id])}" target="content">\n' +
                            '\t\t\t\t\t\t\t\t\t\t\t\t<button class="btn btn-xs btn-danger">\n' +
                            '\t\t\t\t\t\t\t\t\t\t\t\t\t<i class="ace-icon fa fa-trash-o bigger-120"></i>\n' +
                            '\t\t\t\t\t\t\t\t\t\t\t\t</button>\n' +
                            '\t\t\t\t\t\t\t\t\t\t\t</a>\n' +
                            '\t\t\t\t\t\t\t\t\t\t</div>\n' +
                            '\n' +
                            '\t\t\t\t\t\t\t\t\t\t<div class="hidden-md hidden-lg">\n' +
                            '\t\t\t\t\t\t\t\t\t\t\t<div class="inline pos-rel">\n' +
                            '\t\t\t\t\t\t\t\t\t\t\t\t<button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">\n' +
                            '\t\t\t\t\t\t\t\t\t\t\t\t\t<i class="ace-icon fa fa-cog icon-only bigger-110"></i>\n' +
                            '\t\t\t\t\t\t\t\t\t\t\t\t</button>\n' +
                            '\n' +
                            '\t\t\t\t\t\t\t\t\t\t\t\t<ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">\n' +
                            '\t\t\t\t\t\t\t\t\t\t\t\t\t<li>\n' +
                            '\t\t\t\t\t\t\t\t\t\t\t\t\t\t<a href="#" class="tooltip-info" data-rel="tooltip" title="View">\n' +
                            '\t\t\t\t\t\t\t\t\t\t\t\t\t<span class="blue">\n' +
                            '\t\t\t\t\t\t\t\t\t\t\t\t\t\t<i class="ace-icon fa fa-search-plus bigger-120"></i>\n' +
                            '\t\t\t\t\t\t\t\t\t\t\t\t\t</span>\n' +
                            '\t\t\t\t\t\t\t\t\t\t\t\t\t\t</a>\n' +
                            '\t\t\t\t\t\t\t\t\t\t\t\t\t</li>\n' +
                            '\n' +
                            '\t\t\t\t\t\t\t\t\t\t\t\t\t<li>\n' +
                            '\t\t\t\t\t\t\t\t\t\t\t\t\t\t<a href="#" class="tooltip-success" data-rel="tooltip" title="Edit">\n' +
                            '\t\t\t\t\t\t\t\t\t\t\t\t\t<span class="green">\n' +
                            '\t\t\t\t\t\t\t\t\t\t\t\t\t\t<i class="ace-icon fa fa-pencil-square-o bigger-120"></i>\n' +
                            '\t\t\t\t\t\t\t\t\t\t\t\t\t</span>\n' +
                            '\t\t\t\t\t\t\t\t\t\t\t\t\t\t</a>\n' +
                            '\t\t\t\t\t\t\t\t\t\t\t\t\t</li>\n' +
                            '\n' +
                            '\t\t\t\t\t\t\t\t\t\t\t\t\t<li>\n' +
                            '\t\t\t\t\t\t\t\t\t\t\t\t\t\t<a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">\n' +
                            '\t\t\t\t\t\t\t\t\t\t\t\t\t<span class="red">\n' +
                            '\t\t\t\t\t\t\t\t\t\t\t\t\t\t<i class="ace-icon fa fa-trash-o bigger-120"></i>\n' +
                            '\t\t\t\t\t\t\t\t\t\t\t\t\t</span>\n' +
                            '\t\t\t\t\t\t\t\t\t\t\t\t\t\t</a>\n' +
                            '\t\t\t\t\t\t\t\t\t\t\t\t\t</li>\n' +
                            '\t\t\t\t\t\t\t\t\t\t\t\t</ul>\n' +
                            '\t\t\t\t\t\t\t\t\t\t\t</div>\n' +
                            '\t\t\t\t\t\t\t\t\t\t</div>\n' +
                            '\t\t\t\t\t\t\t\t\t</td>';
                        tr4.innerHTML='\t\t\t\t\t\t\t\t\t<td>\n' +
                            '\t\t\t\t\t\t\t\t\t\t<a href="#"><img src="" width="100" height="50"></a>\n' +
                            '\t\t\t\t\t\t\t\t\t</td>';

                        tr3.innerHTML="<td>"+ res[i].producttitle+"</td>";
                        tr2.innerHTML="<td>"+ $('#sel option')[document.getElementById('sel').selectedIndex].innerText+"</td>";
                        tr1.innerHTML="<td>"+ res[i].id+"</td>";
                        tr0.innerHTML='<td class="center">' + '<label class="pos-rel">' + '<input type="checkbox" class="ace" />' + '<span class="lbl"></span>' + '</label>' + '</td>';
					}

                    // producttitle=res[0].producttitle;
                    // keycode.value=res.productkeycode;
                    // describ.value=res.productdescrib;

                    // var html='<td><td>赋值成功</td></tr>';
                    // $('#tbody').html(html);
                }
            })
        });
    });
</script>